[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Start Online WhatIf
Comment=The Online WhatIf GIS-based planning support system tool
Categories=Application;Geography;Geoscience;
Exec=/usr/local/bin/OnlineWhatIf-start.sh
Icon=/usr/local/share/icons/AURIN_Workbench.png
Terminal=false
